.Wish {
    padding: 2rem;

    h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
        padding: .8rem;
        background-color: var(--secondary-color);
    }

    .Wish__container {
        display: block;
        margin: 0 auto;
        max-width: 80%;

        .Wish__main img {
            width: 500px;
        }

        .Wish__btn-group {
            margin-top: 1rem;
        }
    }

    @media (max-width: 500px) {
        .Wish__container .Wish__main img {
            width: 250px;
        }
    }

    @media (max-width: 420px) {
        .Wish__container .Wish__main img {
            width: 200px;
        }
    }
}