.Wish {
    padding: 2rem;
    background: url('../../static/img/iceberg.png') no-repeat bottom;
    background-size: 50%;
    background-color: #9AC0CB;
    background-position: left bottom;
    min-height: 120%;

    .header {
        margin: 50px 0;

        h1 {
            font-size: 50px;
            font-family: 'Cardo', serif;
            font-weight: 700;
            margin-bottom: 1rem;
            padding: .8rem;
        }
    
        p {
            font-family: 'Crimson Text', serif;
            font-size: 32px;
            font-weight: 700;
        }
    }

    &__container {
        display: block;
        margin: 5vh auto;
        max-width: 80%;
    }

    &__main {
        display: block;
        margin: 0 auto;

        img {
            width: 500px;
            animation: animate-pulse 5s infinite;
            margin: 1em 0;
        }
    }

    &__btn-group {
        margin-top: 1rem;
    }

    @media (max-width: 500px) {
        .Wish__container .Wish__main img {
            width: 250px;
        }
    }

    @media (max-width: 420px) {
        .Wish__container .Wish__main img {
            width: 200px;
        }
    }
}

@keyframes animate-pulse {
    50% {
        transform: scale(1.1) rotateZ(5deg);
    }

    100% {
        transform: scale(1.0);
    }
}