#Wish {
    display: flex;
  	justify-content: center;
  	align-items: center;
    background: url('../../static/img/iceberg.png') no-repeat left bottom;
    background-color: #9AC0CB;
    min-height: 100%;

    .Wish {
        &__header {
            h1 {
                font-size: 50px;
                font-family: 'Cardo', serif;
                font-weight: 700;
                margin-bottom: 1rem;
                padding: .8rem;
            }
        
            p {
                font-family: 'Cardo', serif;
                font-size: 28px;
                font-weight: 400;
            }
        }

        &__container {
            max-width: 80%;

            img {
                width: 400px;
                animation: animate-pulse 5s infinite;
                margin: 1em 0;
            }
        }

        &__button {
            display: block;
            margin: 0 auto;
            background:url('../../static/img/button/wish_button.png') no-repeat;
            background-size: 100%;
            cursor: pointer;
            width: 525px;
            height: 166px;
            transition: transform .2s ease-out;

            &:hover {
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                transform: scale(1.02);
            }

            &:active {
                background: url('../../static/img/button/wish_button_clicked.png');
                background-size: 100%;
                width: 525px;
                height: 166px;
            }
        }
    }

    @media (max-width: 500px) {
        .Wish__container .Wish__main img {
            width: 250px;
        }
    }   

    @media (max-width: 420px) {
        .Wish__container .Wish__main img {
            width: 200px;
        }
    }
}

#wish-area {
    resize: none;
    width: 100%;
    padding: 10px;
    outline: none;
}

@keyframes animate-pulse {
    50% {
        transform: scale(1.1) rotateZ(5deg);
    }

    100% {
        transform: scale(1.0);
    }
}