.Countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background-color: var(--primary-color);
}

.Countdown__container {
    max-width: 80%;
}

.Countdown h1 {
    color: var(--light-color);
    text-align: left;
    margin: 2rem 0;
}

.Countdown__box {
    display: flex;
    justify-content: space-around;
    background-color: var(--secondary-color);
}

.Countdown__item {
    color: var(--light-color);
    font-size: 4rem;
    padding: 2rem;
}

.Countdown__item .title {
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}

.Countdown__item .timer {
    background-color: var(--primary-color);
    padding: 2rem;
}

@media screen and (max-width: 970px) {
    .Countdown__item .title {
        font-size: 1.5rem;
    }

    .Countdown__item {
        font-size: 3rem;
        padding: 1.2rem;
    }
}

@media screen and (max-width: 790px) {
    .Countdown__item .title {
        font-size: 1.2rem;
    }

    .Countdown__item {
        font-size: 2rem;
        padding: 1rem;
    }
}

@media screen and (max-width: 650px) {
    .Countdown__item .title {
        font-size: 1rem;
    }

    .Countdown__item {
        font-size: 1.5rem;
        padding: .5rem;
    }
}