#Countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background: url('../../static/img/BG\ \(2\).png') no-repeat;
    background-position: center;
    background-color: #274B6D;
    background-size: 100%;;

    h1 {
        color: white;
        text-align: center;
        margin: 2rem 0;
        font: bold 7em 'Playfair Display', serif;
        letter-spacing: .1em;
    }

    .Countdown {
        &__container {
            max-width: 80%;
        }

        &__box {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            background: rgba(0, 0, 0, 0.7);
            border-radius: 20px;
            
            .Countdown__item {
                font-family: 'Karla', sans-serif;
                color: var(--light-color);
                font-size: 4rem;
                height: 100%;
                padding: .5em;

                .title {
                    font-size: .75em;
                    font-weight: 500;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 15px;
                }
    
                .timer {
                    background: #A29F9F;
                    padding: 0 1rem;
                    font-size: 150px;
                    border-radius: 20px;
                }
            }
        }
    }
}