#Countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background-color: var(--primary-color);

    h1 {
        color: var(--light-color);
        text-align: center;
        margin: 2rem 0;
    }

    .Countdown__container {
        max-width: 80%;

        .Countdown__box {
            display: flex;
            justify-content: space-around;

            .Countdown__item {
                color: var(--light-color);
                font-size: 4rem;
                padding: 2rem;
    
                .title {
                    font-size: 2rem;
                    justify-content: center;
                    align-items: center;
                }
    
                .timer {
                    padding: 0 1rem;
                }
            }
            
            @media screen and (max-width: 790px) {
                .Countdown__item .title {
                    font-size: 1.8rem;
                }
            
                .Countdown__item {
                    font-size: 2.8rem;
                }
            }
            
            @media screen and (max-width: 670px) {
                .Countdown__item .title {
                    font-size: 1.2rem;
                }
            
                .Countdown__item {
                    font-size: 2rem;
                }
            }

            @media screen and (max-width: 500px) {
                flex-wrap: wrap;
                .Countdown__item .title {
                    font-size: 1.2rem;
                }
            
                .Countdown__item {
                    // flex: 1 1 80px;
                    font-size: 2rem;
                }
            }
        }
    }
}