#Countdown {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background: url('../../static/img/background/countdown.jpg') no-repeat;
    background-position: bottom;
    background-color: #274B6D;
    background-size: 100%;;

    h1 {
        color: white;
        text-align: center;
        margin: 2rem 0;
        font: bold 7em 'Playfair Display', serif;
        letter-spacing: .1em;
    }

    .waterdrop {
        img {
            position: absolute;
            width: 155px;
            top: -.5in;
            right: 1in;
            animation: animateWater 5s linear infinite;
        }

        img + img {
            position: absolute;
            width: 100px;
            left: 1in;
            top: 1in;
        }
    }

    .Countdown {
        &__container {
            max-width: 80%;
        }

        &__box {
            position: relative;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            background: rgba(0, 0, 0, 0.7);
            border-radius: 20px;
            padding: 0 5em;
            
            .Countdown__item {
                font-family: 'Karla', sans-serif;
                color: var(--light-color);
                font-size: 48px;
                height: 100%;
                padding: .5em;

                .title {
                    font-size: .75em;
                    font-weight: 500;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 15px;
                }
    
                .timer {
                    background: #A29F9F;
                    padding: 0 1rem;
                    font-size: 150px;
                    border-radius: 20px;
                    width: 220px;
                }
            }

            #candycane {
                position: absolute;
                width: 120px;
                right: -30px;
                top: -15px;
            }

            #lightwire {
                position: absolute;
                width: 400px;
                left: 10px;
                top: 5px;
                transform: rotateZ(-20deg);
            }
        }
    }
}

@keyframes animateWater {
    25% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(20px);
    }
    75% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}