#Hero {
  	display: flex;
	flex-direction: column;
	justify-content: center;
  	align-items: center;
  	min-height: 82%;
	background: url('../../static/img/background/หน้าเเรก.png') no-repeat;
	background-color: #274B6D;
	background-position: top;
	background-size: 100%;
	  
	.Hero__container {
		margin-top: -12%;
		color: var(--light-color);

		max-width: 80%;

		h1 {
			font-family: 'Playfair Display', serif;
			font-weight: 700;
			font-size: var(--fs-header);
			color: #DCA04D;
			text-shadow: var(--shadow-header);
		}

		p {
			position: relative; bottom: -40px;
			font-family: 'Crimson Text', serif;
			font-size: var(--fs-title);
		}
	}

	@media (max-width: 598px) {
		.Hero__container {
			h1 {
				font-size: 2.5rem;
			}

			p {
				font-size: 1.1rem;
			}
		}
	}

	@media (max-width: 375px) {
		.Hero__container {
			h1 {
				font-size: 2.2rem;
			}

			p {
				font-size: 1em;
			}
		}
	}
}