.Navbar {
    position: fixed;
    width: 100%;
    padding: 0 20px;
    height: 105px;
    display: flex;
    transition:  .3s ease-in-out;
    z-index: 99;
    background-color: rgba($color: #000000, $alpha: .2);

    &__logo {
        margin: 2px;
        width: 430px;
        background-color: #8C0200;
        border-radius: 50px;

    img {
        margin: -1% 0 0 -73%;
        width: 250px;
    }

    .label {
        font-family: 'Playfair Display', serif;
        display: inline;
        color: #ffffff;
        font-size: 24px;
        align-content: center;
    }

    p {
        margin-left: 28%;
        width: 50%;
        position: relative; top: -120%;
        line-height: 30px;
        text-shadow: 2px 1px 5px rgba($color: #ffffff, $alpha: .7);
    }

    .chrismas {
        font-size: 40pt;
    }

    em {
        margin-left: 20%;
    }
}

    &__menu {
        font-family: 'Playfair Display', serif;
        list-style: none;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        height: 100%;
        color: var(--light-color);
    }
    
    &__item {
        font-size: 22pt;
        padding: 15px 42px;

        a {
            color: inherit;
            text-decoration: none;
            transition: .2s ease-out;
        }

        &:hover {
            color: red;
        }
    }

    .hamburger {
        display: none;
        z-index: 1;
        top: 35%;
        cursor: pointer;
    }

    @media screen and (max-width: 598px) {
        .hamburger {
            display: block;
        }

        .Navbar__menu {
            text-align: left;
            flex-flow: column nowrap;
            background: rgb(40, 40, 40);
            position: fixed;
            top: 0;
            right: 0;
            height: 100vh;
            width: 300px;
            justify-content: center;
            transform: translateX(0);
            transition: .3s ease-out;
        }

        .hide {
            transform: translateX(100%);
        }
    }

    @media (max-width: 420px) {
        .Navbar__menu {
            width: 200px;

            .Navbar__item {
                font-size: 1rem;
            }
        }
    }
}

.is-current {
    color: #DCA04D;
}

.scrolled {
    background-color: rgba($color: #000000, $alpha: .8);
}