.Navbar {
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    transition:  .3s ease-in-out;
    z-index: 99;
    background-color: rgba($color: #000000, $alpha: .2);

    &__logo {
        height: 120%;
        margin-top: 25px;
        // margin: 25px -10% 0 -5%;
        align-self: center;
        transition: .1s ease-out;
    }

    p {
        margin-left: 28%;
        width: 50%;
        position: relative; top: -130%;
        line-height: 30px;
        text-shadow: 2px 1px 5px rgba($color: #ffffff, $alpha: .7);
    }

    .chrismas {
        font-size: 40pt;
    }

    em {
        margin-left: 20%;
    }


    &__menu {
        font-family: 'Playfair Display', serif;
        list-style: none;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        height: 100%;
        width: 65%;
        color: var(--light-color);
        padding: 0;
        margin-right: 2%;
    }
    
    &__item {
        font-size: 28px;
        margin-right: 40px; 
        text-decoration: none;
        transition: .2s ease-out;
        color: #ffff;

        &:hover {
            color: red;
            text-decoration: none;
        }
    }

    .hamburger {
        display: none;
        z-index: 1;
        top: 35%;
        cursor: pointer;
    }

    @media screen and (max-width: 598px) {
        .hamburger {
            display: block;
        }

        .Navbar__menu {
            text-align: left;
            flex-flow: column nowrap;
            background: rgb(40, 40, 40);
            position: fixed;
            top: 0;
            right: 0;
            height: 100vh;
            width: 300px;
            justify-content: center;
            transform: translateX(0);
            transition: .3s ease-out;
        }

        .hide {
            transform: translateX(100%);
        }
    }

    @media (max-width: 420px) {
        .Navbar__menu {
            width: 200px;

            .Navbar__item {
                font-size: 1rem;
            }
        }
    }
}

.is-current {
    color: #DCA04D;
}

.scrolled {
    height: 80px;
    background-color: rgba(#000000, .8);

    img {
        margin-top: 20px;
        transform: scale(0.95);
    }
}