#Footer{
    color: #ffffff;
    position: relative;
    background-color: #6E0E29;
    height: 340px;
    align-items: center;
    ul{
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 65px 100px 0px 180px;

        img{
            width: 120px;
        }
    }
    .big-bell{
        position: absolute;
        bottom: 0px;
        left: -6rem;
        width: 20%;
    }
    .big-tree{
        position: absolute;
        bottom : 0px;
        right: 40px;
        width: 9%;
    }

}
