#History {
  	display: flex;
  	justify-content: center;
  	align-items: center;
	background-color: #274B6D;
	position: relative;
	  
	.History__container {
		margin-top: 5vh;
		padding: 2em;
		color: #ffffff;
		max-width: 90%;

		h1 {
			font-family: 'Crimson Text', serif;
			font-weight: 700;
			font-size: 3rem;
			color: #CED9DF;
			text-shadow: 2px 2px 5px rgba(#ffffff, .7);
			margin-bottom: 1.2rem;
		}

		p {
			column-count: 2;
			column-gap: 2em;
			font-family: 'Cardo', serif;
			font-size: var(--fs-caption);
			color: #CED9DF;
			text-indent: 50px;
			text-align: justify;
		}
  	}
  
  	.History__gallery {
		box-sizing: border-box;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 1.5rem;
	}

	@media screen and (max-width: 669px) {
		.History__gallery { justify-content: center }
	}
	  
	@media screen and (max-width: 798px) {
		.History__container {
			h1 { font-size: 2rem; }
			p { 
				column-count: 1;
				font-size: 15pt;
			}
		}
	}

	@media screen and (max-width: 1438px) {
		.History__gallery {
			* {
				flex: 1 1 30vw;
			}
		}
	}
}

// .bubble {
// 	position: absolute;
// 	width: 50px;
// 	height: 50px;
// }