.Navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 1em;
    transition: .2s ease-out;
}

.Navbar ul {
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: flex-end;
}

.Navbar ul li {
    list-style: none;
    font-size: 1.2rem;
    margin: 0 1.2rem;
}

.Navbar ul li a {
    text-decoration: none;
    font-weight: bold;
    color: var(--light-color);
    transition: .3s ease-out;
}

.Navbar ul li a:hover {
    color: var(--primary-color);
}

#logo {
    background-color: var(--secondary-color);
    color: black;
    padding: 1rem;
}

.scrolled {
    padding: .5em 1em;
    background-color: black;
}

@media screen and (max-width: 670px) {
}